.bottom-store {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.your-pwd-heading {
  font-size: 12px;
  font-family: 'Consolas';
  color: #f8fafc;
  margin-top: 10px;
  margin-bottom: 0;
}

.pwd-count {
  border: solid 1px #f8fafc;
  color: #f8fafc;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 0;
  margin-left: 5px;
  border-radius: 10px;
  font-family: 'Consolas';
  font-weight: 800;
  margin-left: 5px;
}

@media screen and (min-width: 768px) {
  .your-pwd-heading {
    font-size: 20px;
  }
  .pwd-count {
    border: solid 1px #f8fafc;
    color: #f8fafc;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 2px;
    padding-top: 10px;
    margin-top: 0;
    margin-left: 5px;
    border-radius: 10px;
    font-family: 'Consolas';
    font-weight: 800;
  }
}

.pwd-count-container {
  display: flex;
  flex-direction: row;
  width: 40%;
}

.search-style {
  width: 100%;
  outline: none;
  border-style: none;
  border-left: solid 1px #94a3b8;
  padding: 10px;
}

.search-container {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  background-color: #f8fafc;
  width: 60%;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .search-container {
    margin-left: 60px;
    align-self: flex-end;
  }
}

.separator {
  width: 100%;
  border: solid 1px #b6c3ca;
}

.websites-list-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
  width: 100%;
}

.checkbox-container {
  display: flex;
  align-self: flex-end;
}

.checkbox-show-pwd {
  height: 15px;
  width: 15px;
  cursor: pointer;
}

.label-show-pwd {
  color: #f8fafc;
  font-size: 12px;
  font-family: 'Consolas';
  margin-top: 3px;
}

@media screen and (min-width: 768px) {
  .label-show-pwd {
    font-size: 20px;
    margin-top: 0;
  }
  .checkbox-show-pwd {
    height: 20px;
    width: 20px;
  }
}

.no-password-img {
  height: 50%;
  width: 50%;
  align-self: center;
}
